<?xml version='1.0' encoding='utf-8'?>
<plugin id="s5-zebra-plugin-btprint" version="1.4.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZebraPluginBtPrint</name>
    <js-module name="ZebraPluginBtPrint" src="www/ZebraPluginBtPrint.js">
        <clobbers target="lexit.btprint" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <preference name="SwiftVersion" value="5.0" />
            <feature name="ZebraPluginBtPrint">
                <param name="ios-package" value="ZebraPluginBtPrint" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UISupportedExternalAccessoryProtocols">
            <array>
                <string>com.zebra.rawport</string>
            </array>
        </config-file>
        <!--Zebra SDK headers-->
        <header-file src="src/ios/lib/include/DiscoveredPrinter.h" />
        <header-file src="src/ios/lib/include/DiscoveredPrinterNetwork.h" />
        <header-file src="src/ios/lib/include/FieldDescriptionData.h" />
        <header-file src="src/ios/lib/include/FileUtil.h" />
        <header-file src="src/ios/lib/include/FormatUtil.h" />
        <header-file src="src/ios/lib/include/GraphicsUtil.h" />
        <header-file src="src/ios/lib/include/MagCardReader.h" />
        <header-file src="src/ios/lib/include/MfiBtPrinterConnection.h" />
        <header-file src="src/ios/lib/include/NetworkDiscoverer.h" />
        <header-file src="src/ios/lib/include/PrinterStatus.h" />
        <header-file src="src/ios/lib/include/PrinterStatusMessages.h" />
        <header-file src="src/ios/lib/include/ResponseValidator.h"/>
        <header-file src="src/ios/lib/include/SGD.h" />
        <header-file src="src/ios/lib/include/SmartCardReader.h" />
        <header-file src="src/ios/lib/include/TcpPrinterConnection.h" />
        <header-file src="src/ios/lib/include/ToolsUtil.h" />
        <header-file src="src/ios/lib/include/ZebraErrorCode.h" />
        <header-file src="src/ios/lib/include/ZebraPrinter.h" />
        <header-file src="src/ios/lib/include/ZebraPrinterConnection.h" />
        <header-file src="src/ios/lib/include/ZebraPrinterFactory.h" />
        <header-file src="src/ios/lib/include/ZplPrintMode.h" />
        <!--Zebra SDK library-->
        <source-file src="src/ios/lib/libZSDK_API.a" framework="true"/>
        <!-- Bridging File -->
        <header-file src="src/ios/ZebraPluginBridgingHeader.h" type="BridgingHeader" />
        <!--Plugin source-->
        <source-file src="src/ios/ZebraPluginBtPrint.swift" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZebraPluginBtPrint">
                <param name="android-package" value="zebra-plugin-btprint.ZebraPluginBtPrint" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>
        <source-file src="src/android/ZebraPluginBtPrint.java" target-dir="src/zebra-plugin-btprint/ZebraPluginBtPrint" />
        <!--Zebra SDK-->
        <lib-file src="src/android/lib/ZSDK_ANDROID_API.jar" target="libs/ZSDK_ANDROID_API.jar"/>
    </platform>
</plugin>